
h2
{
	padding : 10px;
	text-spacing : 10;
	text-align :center;
	color:light blue;
	background :  #EBB0D7;
}
p
{
	letter-spacing : 2px;
	text-align: center;
	background : lightblue;
}
marquee
{
	font-family : aerial;
	font-size: 20px;
	color: blue;
}
img
{
	padding:10px;
	img-align : center;
	
	
}
button
{
	text-align : center;
	padding :10px;
	color:blue;	
	background : lightblue;
	margin:auto;
	display:block;
		
}
