form
{
	background : lightblue;
	text-align : center;
	text-size : 20px;
	padding: 10px;
}
.h2
{

	padding: 10px;
	letter-spacing : 5;
	text-align :center;
	color:light blue;
	background : lightblue;
	height: 300px;
}
input
{
	padding: 8px;
}
.center 
{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

